---
layout: default
---
<div style="clear:both;"></div>
<div class="cont contUp">
	<iframe width="420" height="315" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/V_APn4duhfo"></iframe>
</div>
<div class="cont noMargin contUp">
	<img src="images/zhenya.jpg">
    <div id="bio">Евгения Сергеевна Чирикова (12 ноября 1976, Москва, СССР) — российский политик, лидер движения «Экологическая оборона Московской области» («Экооборона») и «Движения в защиту Химкинского леса», член оргкомитета Стратегия-31, предприниматель, совладелец компаний ООО «ЭЗОП» («Электроэнергетика и защита от помех») и ООО «Элнар-Сервис»</div>
</div>
<div class="cont contDown">fhfh</div>
<div class="cont noMargin contDown">fhfhf</div>

<div class="help">
  <h1>Чирикову - Химчанам!</h1>

  <div class='articles'>
    {% for item in site.categories.news limit:40 offset:0 %}
      <a class="article" href="{{site.root_dir}}{{item.url}}">
        {% if item.image %}
          <img src="{{item.image}}" width="200" height="100"/>
        {% endif %}

        <div class="title">
          {{item.title}}
        </div>
        <div class="descr">
          {{item.descr}}
        </div>
      </a>
    {% endfor %}
  </div>
</div>

