---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Чирикова 2012</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>
    <div id='main'>
    	<div class="help post-content">
            <div id="header">
                <div id="logocont">
                	<a href="/">
                    	<div id="logo"></div>
                    </a>
                	<div id="slogan">Официальный сайт</div>
                </div>
                <div id="menu">
                    <a href="/bio.html">Биография</a>
                    <a href="/allnews.html">Новости</a>
                    <a href="/photo.html">Фотогалерея</a>
                </div>
          </div>
          {{content}}
		<div id="footer">© Евгения Чирикова 2012
        	<div id="numers">
            	<div class="num">
                	<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.3;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->
                </div>
            	<div class="num">
                	<!--Openstat-->
<span id="openstat2274822"></span>
<script type="text/javascript">
var openstat = { counter: 2274822, image: 5085, color: "c3c3c3", next: openstat };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->
                </div>
            	<div class="num">
                	<!-- Rating@Mail.ru counter -->
<script language="javascript"><!--
var a='';a+=';r='+escape(document.referrer);js=10;//--></script>
<script language="javascript1.1"><!--
a+=';j='+navigator.javaEnabled();js=11;//--></script>
<script language="javascript1.2"><!--
s=screen;a+=';s='+s.width+'*'+s.height;
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//--></script>
<script language="javascript1.3"><!--
js=13;//--></script><script language="javascript" type="text/javascript"><!--
document.write('<a href="http://top.mail.ru/jump?from=2241726" target="_top">'+
'<img src="http://d4.c3.b2.a2.top.mail.ru/counter?id=2241726;t=84;js='+js+
a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" border="0" '+
'height="18" width="88"><\/a>');if(11<js)document.write('<'+'!-- ');//--></script>
<noscript><a target="_top" href="http://top.mail.ru/jump?from=2241726">
<img src="http://d4.c3.b2.a2.top.mail.ru/counter?js=na;id=2241726;t=84" 
height="18" width="88" border="0" alt="Рейтинг@Mail.ru"></a></noscript>
<script language="javascript" type="text/javascript"><!--
if(11<js)document.write('--'+'>');//--></script>
<!-- //Rating@Mail.ru counter -->
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--<div id='footer'>
    <div class="footer-content">
      Chir-chir-chirik
    </div>
  </div>-->
</body>
</html>