---
layout: default
title0: | {{page.title}}
---

  <div style="clear:both;"></div>
<div class="cont">
  <div class="date2">{{ page.date | date: "%d.%m.%Y" }} | {{page.time}}</div>
  <h1>{{page.title}}</h1>
  <div class="news-post">{{ content }}</div>
</div>
<div class="cont contnews noMargin">
	<a href="/allnews.html"><h2>Новости</h2></a>
	 {% for item in site.categories.news limit:10 offset:0 %}
      <a class="newsteaser" href="{{site.root_dir}}{{item.url}}">
      	<div class="teaser">
            <div class="date">
                {{ item.date | date: "%d.%m.%Y" }} | {{item.time}}
            </div>
            <div class="newstitle">
                {{item.title}}
            </div>
            <div class="descr">
              {{item.descr}}
            </div>
        </div>
      </a>
    {% endfor %}
</div>
<div style="clear:both;"></div>