---
layout: default
menun: tut
---

  <div style="clear:both;"></div>
<div class="cont">
  <div class="date2">{{ page.date | date: "%d.%m.%Y" }} | {{page.time}}</div>
  <h1>{{page.title}}</h1>
  <div class="news-post">{{ content }}</div>
  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style" addthis:description="{{page.descr}}">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-503bb49617b3d59d"></script>
<!-- AddThis Button END -->
</div>
<div class="cont contnews noMargin">
	<a href="/allnews.html">
    {% if page.tag contains 'agit' %}
    <h2>Агитация</h2>
	 {% for item in site.categories.news limit:300 offset:0 %}
     	{% if item.tag contains 'agit' %}
              <a class="newsteaser" href="{{site.root_dir}}{{item.url}}">
                <div class="teaser">
                    <div class="date">
                        {{ item.date | date: "%d.%m.%Y" }} | {{item.time}}
                    </div>
                    <div class="newstitle">
                        {{item.title}}
                    </div>
                    <div class="descr">
                      {{item.descr}}
                    </div>
                </div>
              </a>
        {% endif %}
    {% endfor %}
    {% else %}
    <h2>Новости</h2></a>
	 {% for item in site.categories.news limit:30 offset:0 %}
      <a class="newsteaser" href="{{site.root_dir}}{{item.url}}">
      	<div class="teaser">
            <div class="date">
                {{ item.date | date: "%d.%m.%Y" }} | {{item.time}}
            </div>
            <div class="newstitle">
                {{item.title}}
            </div>
            <div class="descr">
              {{item.descr}}
            </div>
        </div>
      </a>
    {% endfor %}
    {% endif %}
</div>
<div style="clear:both;"></div>